services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "127.0.0.1:9090:9090"
    networks:
      - monitoring
    restart: unless-stopped

  node-exporter:
    image: prom/node-exporter
    container_name: node-exporter
    pid: host
    network_mode: host
    restart: unless-stopped

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "127.0.0.1:3000:3000"
    volumes:
      - grafana-storage:/var/lib/grafana
    networks:
      - monitoring
      - npm_network
    restart: unless-stopped

networks:
  monitoring:
    driver: bridge
  npm_network:
    external: true
    name: nginx_default

volumes:
  grafana-storage:
